In [10]:
#Program 1
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
print("dictionary['Name'] : ", dictionary['Name'])
print("dictionary['Age']  : ",dictionary['Age'])
print("dictionary['DOB']  : ",dictionary['DOB'])
print("dictionary['Class']: ",dictionary['Class'])

dictionary['Name'] :  Jibran
dictionary['Age']  :  13
dictionary['DOB']  :  16 April 2006
dictionary['Class']:  Seventh

In [11]:
#program 2
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
for x in dictionary :
    print(dictionary[x])

Jibran
13
Seventh
16 April 2006

In [12]:
#program 3
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
for x in dictionary.values():
    print(x)

Jibran
13
Seventh
16 April 2006

In [13]:
#program 4
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
for x,y in dictionary.items():
    print(x,y)

Name Jibran
Age 13
Class Seventh
DOB 16 April 2006

In [14]:
#program 5
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}

if "DOB" in dictionary:
    print("Yes!, 'DOB' is one of the keys in dictionary dictionary")

Yes!, 'DOB' is one of the keys in dictionary dictionary

In [18]:
#program 6
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
dictionary['Age'] = 12.5
dictionary['School'] = 'The Seeds School'

print("dictionary['Age']    : ",dictionary['Age'])
print("dictionary['School'] : ",dictionary['School'])

dictionary['Friend1'] = 'Mohib'
dictionary['Friend2'] = 'Akber'
dictionary['Friend3'] = 'Jazil'

print("dictionary['Friend1'] : ",dictionary['Friend1'])
print("dictionary['Friend2'] : ",dictionary['Friend2'])
print("dictionary['Friend3'] : ",dictionary['Friend3'])

dictionary['Age']    :  12.5
dictionary['School'] :  The Seeds School
dictionary['Friend1'] :  Mohib
dictionary['Friend2'] :  Akber
dictionary['Friend3'] :  Jazil

In [19]:
#program 7
dictionary = {'Name': 'Jibran', 'Age': 12.5, 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend1': 'Mohib', 'Friend2': 'Akber', 'Friend3': 'Jazil'}

for x,y in dictionary.items():
    print(x,y)
dictionary.pop("Friend1")
print(dictionary)

Name Jibran
Age 12.5
Class Seventh
DOB 16 April 2006
School The Seeds School
Friend1 Mohib
Friend2 Akber
Friend3 Jazil
{'Name': 'Jibran', 'Age': 12.5, 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend2': 'Akber', 'Friend3': 'Jazil'}

In [22]:
#program 8
dictionary = {'Name' : 'Jibran', 'Age' : 13, 'Class' : 'Seventh', 'DOB' : '16 April 2006'}
dictionary['Age'] = 12.5
dictionary['School'] = 'The Seeds School'

print("dictionary['Age'] : ", dictionary['Age'])
print("dictionary['School'] : ",dictionary['School'])

dictionary['Friend1'] = 'Mohib'
dictionary['Friend2'] = 'Akber'
dictionary['Friend3'] = 'Jazil'

print("dictionary['Friend1'] : ",dictionary['Friend1'])
print("dictionary['Friend2'] : ",dictionary['Friend2'])
print("dictionary['Friend3'] : ",dictionary['Friend3'])

del dictionary['Friend1']
print(dictionary)

dictionary['Age'] :  12.5
dictionary['School'] :  The Seeds School
dictionary['Friend1'] :  Mohib
dictionary['Friend2'] :  Akber
dictionary['Friend3'] :  Jazil
{'Name': 'Jibran', 'Age': 12.5, 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend2': 'Akber', 'Friend3': 'Jazil'}

In [23]:
#program 9
dictionary = {'Name': 'Jibran', 'Age': 12.5, 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend1': 'Mohib', 'Friend2': 'Akber', 'Friend3': 'Jazil'}
print(x,y)

for x,y in dictionary.items():
    print(x,y)
dictionary.popitem()
print('After poping from the dictionary the remaining elements are :',dictionary)

Friend3 Jazil
Name Jibran
Age 12.5
Class Seventh
DOB 16 April 2006
School The Seeds School
Friend1 Mohib
Friend2 Akber
Friend3 Jazil
After poping from the dictionary the remaining elements are : {'Name': 'Jibran', 'Age': 12.5, 'Class': 'Seventh', 'DOB': '16 April 2006', 'School': 'The Seeds School', 'Friend1': 'Mohib', 'Friend2': 'Akber'}

In [25]:
#program 10
faculty = {1 : {'Name': 'Syed Faisal Ali', 'Experience' : '22' , 'gender' : 'Male'},
           2 : {'Name': 'Dr. M Wasim', 'Experience' : '23' , 'gender' : 'Male'},
           3 : {'Name': 'Dr. Lubaid', 'Experience' : '23' , 'gender' : 'Male'},
           4 : {'Name': 'Noor ul Huda', 'Experience' : '3' , 'gender' : 'Female'},
           5 : {'Name': 'Farukh Lohana', 'Experience' : '19' , 'gender' : 'Male'},
           6 : {'Name': 'Fauzan Saeed', 'Experience' : '15' , 'gender' : 'Male'}
          }
print(faculty)

{1: {'Name': 'Syed Faisal Ali', 'Experience': '22', 'gender': 'Male'}, 2: {'Name': 'Dr. M Wasim', 'Experience': '23', 'gender': 'Male'}, 3: {'Name': 'Dr. Lubaid', 'Experience': '23', 'gender': 'Male'}, 4: {'Name': 'Noor ul Huda', 'Experience': '3', 'gender': 'Female'}, 5: {'Name': 'Farukh Lohana', 'Experience': '19', 'gender': 'Male'}, 6: {'Name': 'Fauzan Saeed', 'Experience': '15', 'gender': 'Male'}}