In [3]:
import sqlite3
con = sqlite3.connect('test_database.db')
cursorObj = con.cursor()
cursorObj.execute("CREATE TABLE Books(BookID integer PRIMARY KEY,title text,author text,publisher text , publishedin text , price integer,pages integer)")
con.commit()
con.close()

In [ ]:
import sqlite3
con = sqlite3.connect('test_database.db')
cursorObj = con.cursor()
cursorObj.execute("INSERT INTO Books VALUES(2,'The Kite Runner','Khalid Houseni','RiverHead Publishers','2003',500,372)")
cursorObj.execute("INSERT INTO Books VALUES(3,'Thousand Splended Sun','Khalid Houseni','RiverHead Publishers',2007,800,420)")
cursorObj.execute("INSERT INTO Books VALUES(4,'Alchemist','Paulo Coehlo','Oxford Publishers','1993',400,312)")
cursorObj.execute("INSERT INTO Books VALUES(5,'Eleven Minutes','Paulo Coehlo','Oxford Publishers','2003',490,210)")
cursorObj.execute("INSERT INTO Books VALUES(6,'The Dead Zone','Stephen King','Picasso Publishers','1979',800,428)")
cursorObj.execute("INSERT INTO Books VALUES(7,'In the tall grass','Stephen King','Picasso Publishers','2012',450,440)")
cursorObj.execute("INSERT INTO Books VALUES(8,'IT','Stephen King','Picasso Publishers','1986',1200,1138)")
con.commit()
con.close()

In [1]:
import sqlite3
from tkinter import *
import tkinter as tk
def main():
    global Queries,textarea
    top = tk.Tk()
    top.geometry("1192x750")
    top.minsize(176, 1)
    top.maxsize(1924, 1050)
    top.resizable(0, 0)
    top.title("Queries")
    
    Execute = Button(top,text = 'EXECUTE',font = 9,command = queryrun)
    Execute.place(relx=0.4, rely=0.22, height=42, width=158)
    
    Label1 = tk.Label(top)
    Label1.place(relx=0.05, rely=0.14, height=51, width=137)
    Label1.configure(background="#d9d9d9")
    Label1.configure(font=9)
    Label1.configure(text='''Query''')

    Queries = tk.Entry(top)
    Queries.place(relx=0.193, rely=0.14,height=46, relwidth=0.742)
    Queries.configure(background="white")
    Queries.configure(font=10)
    Queries.configure(insertbackground="black")

    Frame1 = tk.Frame(top)
    Frame1.place(relx=0.05, rely=0.307, relheight=0.647, relwidth=0.885)
    Frame1.configure(relief='groove')
    Frame1.configure(borderwidth="2")
    Frame1.configure(relief="groove")
    Frame1.configure(background="#d9d9d9")
    
    textarea = Text(Frame1)
    textarea.place(relx=0, rely=0, relheight=1, relwidth=1)
    top.mainloop()
    
def queryrun():
    textarea.delete('1.0',END)
    query = Queries.get()
    con = sqlite3.connect('test_database.db')
    cursorObj = con.cursor()
    cursorObj.execute(query)
    con.commit()
    rows = cursorObj.fetchall()
    for row in rows:
        textarea.insert(END,"{0}\n".format(row))
 
main()