In [5]:
#Question 2
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM products")
    rows = cursorObj.fetchall()
    for row in rows:
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)

Number of Items Returned :  77

In [6]:

import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM categories")
    rows = cursorObj.fetchall()
    for row in rows:
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)

Number of Items Returned :  8

In [8]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT ProductName,QuantityPerUnit FROM products")
    rows = cursorObj.fetchall()
    for row in rows:
        count = count + 1
    return print("Number of Records Returned : ",count)
sql_fetch(con)

Number of Records Returned :  77

In [18]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM categories WHERE CategoryName like 'G%'")
    rows = cursorObj.fetchall()
    for row in rows:
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)

Number of Items Returned :  1

In [21]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT ProductID,ProductName FROM products WHERE Discontinued ='1'")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)

(5, "Chef Anton's Gumbo Mix")
(9, 'Mishi Kobe Niku')
(17, 'Alice Mutton')
(24, 'Guaraná Fantástica')
(28, 'Rössle Sauerkraut')
(29, 'Thüringer Rostbratwurst')
(42, 'Singaporean Hokkien Fried Mee')
(53, 'Perth Pasties')
Number of Items Returned :  8

In [22]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT ProductID,ProductName FROM products WHERE Discontinued ='0'")
    rows = cursorObj.fetchall()
    for row in rows:
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)

Number of Items Returned :  69

In [26]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT ProductName,UnitPrice FROM products ORDER BY UnitPrice Desc")
    rows = cursorObj.fetchall()
    for row in rows:
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)
#Data was returned in descending order starting from highest unit price

Number of Items Returned :  77

In [32]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT ProductID,ProductName,UnitPrice FROM products WHERE (((UnitPrice)<20)AND((Discontinued)='0')) ORDER BY UnitPrice Desc")
    rows = cursorObj.fetchall()
    for row in rows:
        
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)
#data was arranged in descending order relative to cost price

Number of Items Returned :  37

In [37]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT AVG(UnitPrice) FROM products")
    rows = cursorObj.fetchall()
    
    print("Average UnitPrice : ",rows)
    
sql_fetch(con)

Average UnitPrice :  [(28.866363636363637,)]

In [44]:
import sqlite3
con = sqlite3.connect('Northwind.db')

def sql_fetch(con):
    count = 0
    cursorObj = con.cursor()
    cursorObj.execute("SELECT Distinct ProductName,UnitPrice FROM products WHERE UnitPrice > (Select avg(UnitPrice) from products ORDER BY UnitPrice)")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
        count = count + 1
    return print("Number of Items Returned : ",count)
sql_fetch(con)

('Alice Mutton', 39)
('Camembert Pierrot', 34)
('Carnarvon Tigers', 62.5)
('Côte de Blaye', 263.5)
('Gnocchi di nonna Alice', 38)
('Gudbrandsdalsost', 36)
('Gumbär Gummibärchen', 31.23)
('Ikura', 31)
('Ipoh Coffee', 46)
('Manjimup Dried Apples', 53)
('Mascarpone Fabioli', 32)
('Mishi Kobe Niku', 97)
('Mozzarella di Giovanni', 34.8)
('Northwoods Cranberry Sauce', 40)
('Perth Pasties', 32.8)
('Queso Manchego La Pastora', 38)
('Raclette Courdavault', 55)
('Rössle Sauerkraut', 45.6)
('Schoggi Schokolade', 43.9)
("Sir Rodney's Marmalade", 81)
('Tarte au sucre', 49.3)
('Thüringer Rostbratwurst', 123.79)
("Uncle Bob's Organic Dried Pears", 30)
('Vegie-spread', 43.9)
('Wimmers gute Semmelknödel', 33.25)
Number of Items Returned :  25