In [ ]:
#Question 1
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
cursorObj = con.cursor()
cursorObj.execute("CREATE TABLE classmate(StudentID integer PRIMARY KEY,Name text ,University text,Cell text,Distance integer,age integer,Hobbies text,Birthday text)")

cursorObj.execute("INSERT INTO classmate VALUES(1,'Danish','LEFT','090078601',1,21,'movies','Jan-20-1998')")
cursorObj.execute("INSERT INTO classmate VALUES(2,'Ismail','UIT','090073601',2,20,'football','Feb-21-1999')")
cursorObj.execute("INSERT INTO classmate VALUES(3,'Usman','LEFT','090076601',5,20,'cricket','Jan-1-1998')")
cursorObj.execute("INSERT INTO classmate VALUES(4,'Ahmed','UIT','090078101',21,19,'movies','Mar-20-1998')")
cursorObj.execute("INSERT INTO classmate VALUES(5,'Mustafa','UIT','090178601',25,19,'football','Jan-4-2000')")
cursorObj.execute("INSERT INTO classmate VALUES(6,'Mujtaba','UIT','0900878601',20,19,'movies','July-21-1990')")
cursorObj.execute("INSERT INTO classmate VALUES(7,'Omer','UIT','090078101',3,20,'books','June-4-1998')")
cursorObj.execute("INSERT INTO classmate VALUES(8,'Adnan','UIT','092378601',6,21,'movies','August-21-1998')")
cursorObj.execute("INSERT INTO classmate VALUES(9,'Samad','UIT','091578661',8,21,'books','Jan-10-1998')")
cursorObj.execute("INSERT INTO classmate VALUES(10,'Mohsin','UIT','090078607',12,21,'movies','Nov-20-1998')")
con.commit()
con.close()

In [8]:
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
cursorObj = con.cursor()
cursorObj.execute("UPDATE classmate SET Cell = '03232104458' WHERE StudentID = 5")
cursorObj.execute("DELETE FROM classmate WHERE University = 'LEFT'")
con.commit()

In [10]:
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM classmate")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(2, 'Ismail', 'UIT', '090073601', 2, 20, 'football', 'Feb-21-1999')
(4, 'Ahmed', 'UIT', '090078101', 21, 19, 'movies', 'Mar-20-1998')
(5, 'Mustafa', 'UIT', '03232104458', 25, 19, 'football', 'Jan-4-2000')
(6, 'Mujtaba', 'UIT', '0900878601', 20, 19, 'movies', 'July-21-1990')
(7, 'Omer', 'UIT', '090078101', 3, 20, 'books', 'June-4-1998')
(8, 'Adnan', 'UIT', '092378601', 6, 21, 'movies', 'August-21-1998')
(9, 'Samad', 'UIT', '091578661', 8, 21, 'books', 'Jan-10-1998')
(10, 'Mohsin', 'UIT', '090078607', 12, 21, 'movies', 'Nov-20-1998')

In [11]:
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM classmate WHERE Distance < 10")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(2, 'Ismail', 'UIT', '090073601', 2, 20, 'football', 'Feb-21-1999')
(7, 'Omer', 'UIT', '090078101', 3, 20, 'books', 'June-4-1998')
(8, 'Adnan', 'UIT', '092378601', 6, 21, 'movies', 'August-21-1998')
(9, 'Samad', 'UIT', '091578661', 8, 21, 'books', 'Jan-10-1998')

In [12]:
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM classmate WHERE age = 21")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(8, 'Adnan', 'UIT', '092378601', 6, 21, 'movies', 'August-21-1998')
(9, 'Samad', 'UIT', '091578661', 8, 21, 'books', 'Jan-10-1998')
(10, 'Mohsin', 'UIT', '090078607', 12, 21, 'movies', 'Nov-20-1998')

In [13]:
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM classmate WHERE hobbies = 'movies'")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(4, 'Ahmed', 'UIT', '090078101', 21, 19, 'movies', 'Mar-20-1998')
(6, 'Mujtaba', 'UIT', '0900878601', 20, 19, 'movies', 'July-21-1990')
(8, 'Adnan', 'UIT', '092378601', 6, 21, 'movies', 'August-21-1998')
(10, 'Mohsin', 'UIT', '090078607', 12, 21, 'movies', 'Nov-20-1998')

In [15]:
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute("SELECT * FROM classmate WHERE Birthday Like 'Jan%'")
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(5, 'Mustafa', 'UIT', '03232104458', 25, 19, 'football', 'Jan-4-2000')
(9, 'Samad', 'UIT', '091578661', 8, 21, 'books', 'Jan-10-1998')