In [3]:
#program 1
import sqlite3
con = sqlite3.connect('AbdulWahab.db')

In [ ]:
#program 2
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
cursorObj = con.cursor()

In [ ]:
#program 3
import sqlite3
from sqlite3 import Error

def sql_connection():
    try:
        con = sqlite3.connect('AbdulWahab.db')
        return con
    except Error :
        print(Error)
        
def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY,name text,salary real,department text ,position text,hireDate Text)")
    con.commit()
con = sql_connection()
sql_table(con)

In [9]:
#program 4
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
cursorObj = con.cursor()

cursorObj.execute("INSERT INTO employees VALUES(1,'Parkash',20000,'CS','Asst. Professor','1/8/2002')")
cursorObj.execute("INSERT INTO employees VALUES(2,'Ahmed',80000,'SE','Professor','13/3/2002')")
cursorObj.execute("INSERT INTO employees VALUES(3,'Usman',60000,'CS','Asst. Professor','12/2/2004')")
cursorObj.execute("INSERT INTO employees VALUES(4,'Ali',50000,'SE','Lecturar','20/8/2002')")
cursorObj.execute("INSERT INTO employees VALUES(5,'Taha',20000,'CS','Lab Assistent','20/7/2004')")
cursorObj.execute("INSERT INTO employees VALUES(6,'Shabbir',12000,'SE','Asst. Professor','20/6/2006')")
cursorObj.execute("INSERT INTO employees VALUES(7,'Ismail',20000,'CS','Junior Lecturar','20/3/2006')")
cursorObj.execute("INSERT INTO employees VALUES(8,'Omer',50000,'SE','Professor','10/12/2002')")
cursorObj.execute("INSERT INTO employees VALUES(9,'Adnan',30000,'CS','Asst Professor','2/4/2009')")
cursorObj.execute("INSERT INTO employees VALUES(10,'Sulman',20000,'SE','Junior Lecturar','10/3/2008')")
con.commit()

In [23]:
#program 5
import sqlite3
con = sqlite3.connect('AbdulWahab.db')

def sql_insert(con,entities):
    cursorObj = con.cursor()
    cursorObj.execute("INSERT INTO employees(id,name,salary,department,position,hireDate) VALUES(?,?,?,?,?,?)",entities)
    con.commit()
    
entities = (11,"Lubaid",35000,'CS','Asst.Prof','2/6/2016')
 
sql_insert(con,entities)

In [24]:
#program 6
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
cursorObj = con.cursor()

cursorObj.execute('UPDATE employees SET name = "Lubaid Ahmed" WHERE id = 11')
con.commit()

In [25]:
#program 7
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT id , name FROM employees')
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)
sql_fetch(con)

(1, 'Parkash')
(2, 'Ahmed')
(3, 'Usman')
(4, 'Ali')
(5, 'Taha')
(6, 'Shabbir')
(7, 'Ismail')
(8, 'Omer')
(9, 'Adnan')
(10, 'Sulman')
(11, 'Lubaid Ahmed')

In [26]:
#program 8
import sqlite3
con = sqlite3.connect('AbdulWahab.db')
def sql_fetch(con):
    cursorObj = con.cursor()
    cursorObj.execute('SELECT * FROM employees')
    rows = cursorObj.fetchall()
    for row in rows:
        print(row)    
        
        
sql_fetch(con)

(1, 'Parkash', 20000.0, 'CS', 'Asst. Professor', '1/8/2002')
(2, 'Ahmed', 80000.0, 'SE', 'Professor', '13/3/2002')
(3, 'Usman', 60000.0, 'CS', 'Asst. Professor', '12/2/2004')
(4, 'Ali', 50000.0, 'SE', 'Lecturar', '20/8/2002')
(5, 'Taha', 20000.0, 'CS', 'Lab Assistent', '20/7/2004')
(6, 'Shabbir', 12000.0, 'SE', 'Asst. Professor', '20/6/2006')
(7, 'Ismail', 20000.0, 'CS', 'Junior Lecturar', '20/3/2006')
(8, 'Omer', 50000.0, 'SE', 'Professor', '10/12/2002')
(9, 'Adnan', 30000.0, 'CS', 'Asst Professor', '2/4/2009')
(10, 'Sulman', 20000.0, 'SE', 'Junior Lecturar', '10/3/2008')
(11, 'Lubaid Ahmed', 35000.0, 'CS', 'Asst.Prof', '2/6/2016')